<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/restaurantHomePage.css">
    <title>RESTAURANT</title>
  </head>
  <body>
    <div class="page">
    <div class="name">
        <img class="logo" alt="log" src="https://marketplace.canva.com/EAESMsqG9rI/3/0/1600w/canva-grey-%26-green-elegant-minimal-good-taste-food-restaurant-logo-jeSR74GRMC8.jpg" />
        <h1 class="name_m">SATVEEK RESTAURANT</h1>
    </div>
    <div class="Menu">
        <h1>Our Services</h1>
        <div class="box">
            <div onclick="location.href = 'http://localhost:8000/restaurant/viewMenu';" class="box1 b">
                <img src="https://t4.ftcdn.net/jpg/02/72/65/95/240_F_272659528_4BeXAVkr69LHfeTMEaEaVEFBco5ooFYj.jpg" />
                <h2>Display menu</h2>
                <p>You can see the menu of our restaurant here. When the restaurant uploads a new dish, it automatically updates here.</p>
            </div>
            <div onclick="location.href = 'http://localhost:8000/restaurant/menu';" class="box2 b">
                <img src="https://image.freepik.com/free-vector/menu-logo_8496-118.jpg" />
                <h2>Add menu</h2>
                <p>Restaurants can add their new dishes according to their type.</p>
            </div>
            <div onclick="location.href = 'http://localhost:8000/restaurant/viewtable';" class="box3 b">
                <img src="https://thumbs.dreamstime.com/b/table-icon-trendy-table-logo-concept-white-background-f-table-icon-trendy-table-logo-concept-white-background-131141638.jpg" />
                <h2>View Tables</h2>
                <p>Restaurant staff can see the orders according to the table number. They can also check the status of that table.</p>
            </div>
            <div onclick="location.href = 'http://localhost:8000/restaurant/viewOrders';" class="box4 b">
                <img src="https://thumbs.dreamstime.com/b/food-delivery-logo-template-vector-icon-illustration-170869600.jpg" />
                <h2>Previous Orders</h2>
                <p>You can check out the previous orders.</p>
            </div>
        </div>
    </div>
</div>


  </body>
  
</html>