<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/updateMenu.css">
    <title>Update Menu</title>
  </head>
  <body>
    <div class="page">
    <div class="vector">
        <img src="https://img.freepik.com/free-vector/order-food-concept-illustration_114360-6860.jpg?w=740&t=st=1683888744~exp=1683889344~hmac=cca2e08e06cca0c50ee27368c9a8a07b6957a233420852234f8dafd8a74cc030" />
    </div>
    <form action="menu" method="POST">
    <div class="add_menu">
        <h1>Add your dish</h1>
        <div class="add_dish sub">
            <h3>Dish Name:</h3>
            <input type="text" name="dishh" class="search_input" required = "true" placeholder="Add your dish"  />
        </div>
        <div class="price sub">
            <h3>Price:</h3>
            <input type="text"name="price" class="search_dish" required="true" placeholder="Price of your dish"  />
        </div>
        <button type = "submit" class="btn">Add</button>
      </form>
    </div>
</div>

  </body>
</html>

