
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
	<link rel="stylesheet" href="/css/checkout.css">
    <title>Checkout</title>
  </head>
  <body>
    <div class="main">
    <img src="https://img.freepik.com/free-vector/waiter-serving-silver-dish-with-lid-customer_3446-90.jpg?w=740&t=st=1683927730~exp=1683928330~hmac=dc6b6a07e53b5a9b79ab3be8447d2271da2298874f601e6f9a996a2a5bb9fe42" />
    <div class="show">
        <h1>Thank for taking this decision!!!</h1>
        <div class="order_me">
            <div class="order_id">
                <h3>Order id:</h3>
                <p class="order_para"><%- paymentDetail.orderId %> </p>
            </div>
            <div class="currency">
                <h3>Currency:</h3>
                <p class="curry">INR</p>
            </div>
            <div class="amount">
                <h3>Amount:</h3>
                <p class="money">Rs.<%- paymentDetail.amount/100 %></p>
            </div>
            <button type="submit" class="btn btn-primary" onclick="checkout(event)">Checkout</button>
        </div>
    </div>
	<form id="paymentVerifyForm" action="/payment/verify" method="POST">
		<input name="razorpay_payment_id" type="hidden" id="razorpay_payment_id" />
		<input name="razorpay_order_id" type="hidden" id="razorpay_order_id"/>
		<input name="razorpay_signature" type="hidden" id="razorpay_signature"/>
	</form>
</div>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
	function checkout(event) {
		const razorpayKeyId = '<%- razorpayKeyId %>'
		const orderId = '<%- JSON.stringify(paymentDetail.orderId) %>'
		const options = {
			"key": razorpayKeyId,
			"currency": "INR",
			"name": "Restaurant Management",
			"description": "Razor Test Transaction",
			"image": "https://previews.123rf.com/images/subhanbaghirov/subhanbaghirov1605/subhanbaghirov160500087/56875269-vector-light-bulb-icon-with-concept-of-idea-brainstorming-idea-illustration-.jpg",
			"order_id": JSON.parse(orderId),
			"handler": function (response){
				document.getElementById('razorpay_payment_id').value= response.razorpay_payment_id;
				document.getElementById('razorpay_order_id').value= response.razorpay_order_id;
				document.getElementById('razorpay_signature').value= response.razorpay_signature;
				document.getElementById("paymentVerifyForm").submit();
			},
			"modal": {
				ondismiss: function() {
					alert(`Payment Failed`)
				}
			},
			"theme": {
				"color": "#22527b"
			}
		};
		const razorpay = new Razorpay(options);
		razorpay.open();
		event.preventDefault();
	}
</script>
  </body>
</html>

